@media screen and (max-width: 576px) {
    .btn.btn-primary {
        padding: 12px 72px;
        font-size: 14px;
    }

    .secret-block {
        flex-direction: row;

        .img-side {
            min-width: 84px;
            height: auto;
            border-radius: 20px 0 0 20px;
            background-position: top;
            background-size: auto 100% ;
            
        }

        .text-side {
            height: 120px;
        }
    }
    .slick-list {
        max-width: 336px;

    }

    .insta-busines {
        .small-container {
            .title {
                min-height: 120px;
                flex-direction: row-reverse;
                
                h2 {
                    padding: 27px 12px 27px 20px;
                    font-size: 18px;
                }
                .title-img {
                    width: 100px;
                    background-image: url(assets/img/pampkin.png);
                    
                    p {
                        display: none;
                    }
                }
            }
            .subtitle {
                display: block;
            }
            h6 {
                text-align: center;
            }
            ul {
                list-style-type: none;
                margin-left: 15px;
                li {
                    margin-bottom: 20px;
                    font-size: 14px;
                }
            }
        }
    }

    .for-whom_course {
        &-info {
            h5 {
                text-align: center;
            }
            ul li {
                font-size: 14px;
            }
        }
        &-banner {
            min-width: auto;
            min-height: auto;
            background-image: url(assets/img/insta-bg-img-mob.png);
            padding: 0;
            background-repeat: no-repeat;
            background-position: top right -62px;
            background-size: contain;
            background-color: #0b1d35;
            &::before {
                content: "";
                
            }

            .banner-content {
                padding: 40px 20px 34px;
                max-width: 70%;
                text-align: start;
                h2 {
                    font-size: 18px;
                    margin-bottom: 20px;
                }
            }
            
            .banner-img {
                display: none;
            } 
        }
    }

    .other_tariff {
        &-card {
            border-radius: 20px;
            .card-title {
                padding: 26px 15px;
                h4 {
                    font-size: 20px;
                }
            }
            .card-body {
                padding: 30px 30px;
                h6 {
                    font-size: 14px;
                }
                ul {
                    li {
                        font-size: 14px;
                        margin-bottom: 10px;
                    }
                }
            }
            .card-footer {
                padding: 0 26px 15px;
                margin-top: -30px;
                h5 {
                    font-size: 18px;
                }
                
            }
        }
    }
}

