@media screen and (max-width: 750px) {
    //tamplate//


    .column-block {
        display: flex;
        align-items: stretch;
        flex-direction: column-reverse;
        .left-block,
        .right-block {
            width: 100%;
            display: flex;
        }
    }

    .btn.btn-primary {
        width: 100%;
    }
    
    header {
        .header-container {
            .header-nav {
                display: none;
            }
            .toggler {
                display: block;
            }

        }
    }

    .first-screen {
        
        .left-block,
        .right-block {
            width: 100%;
            display: flex;
        }

        .right-block {
            height: 301px;
            align-items: end;
        }
        
        .left-block {
            
            justify-content: center;
        }
       
        &-info {
            
            .small-container {
                padding: 30px 20px;
            }
            
            h1 {
                margin-bottom: 10px;
                font-size: 28px;
                line-height: 34px;
            }
            p {
                margin-bottom: 32px;
                font-size: 14px;
                line-height: 17px;
                
            }
            h6 {
                display: none;
            }
        }
    
        &-img {
            background-size: auto 100%;
            border-bottom-left-radius: 0;
            .first-screen-img_name {
                padding: 9px 20px 9px 45px;
                text-align: end;
                max-width: fit-content;
                border-bottom-left-radius: 0;
            }
        }
    }

    .insta-busines {
        .right-block {
            height: auto;
        }
    }


    .course-info {
        justify-content: space-between;
        flex-direction: column;
        padding: 15px 85px;
        border-radius: 20px;
        box-shadow: 12px -14px 0px 0px #4EDF3C,0px 10px 15px 0px rgba(0,0,0,0.1);
        width: fit-content;
    
        &_circle {
            flex-direction: column-reverse;
            margin-bottom: 15px;
            background: #FFF;
            
            width: auto;
            height: auto;
           
            h5 {
                text-align: center;
                font-size: 24px;
                font-weight: 500;
                text-transform: capitalize;
                color: #63656B;
            }
    
        }
        h6 {
            color: #63656B;
            text-align: center;
            font-size: 14px;
            font-weight: 400;
            text-transform: uppercase;
        }
    
        
    
    }

    .teacher-course {
        .single-teacher {
            border-radius: 0 40px 0 40px;
            .teacher-img {
                display: none;
            }
             
            .teacher-info {
                padding: 0 20px 40px;
                .teacher-name {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 19px;
                    margin: 0 0 20px -19px;
                    h2 {
                        margin-top: 28px;
                        font-size: 18px;
                    }
                }
                .teacher-mob-img {
                    display: block;
                }
            }
        }
    }
}
