@media screen and (max-width: 1199px) {
    header {
        .header-container {
            padding: 0 70px;
            
        }

    }

    .countdown-block {
        .left-block {
            ul#countdown {
                li {
                    font-size: 30px;
                }
                .number {
                    padding: 23px;
                }
            }
        }

        .right-block {
            flex-direction: column;
            .course-price {
                margin-bottom: 21px;
                text-align: center;
                .price {
                    display: flex;
                    align-items: center;
                    h5 {
                        margin-right: 20px;
                    }
                }
            }
        }
    }

    .for-whom_course {
        &-banner {
            min-width: 500px;
        }
    }

    .taryf {
        &-block {
            gap: 15px;
            .taryf-card {
                padding: 40px 20px 37px;
                max-width: 320px;

                ul li {
                    font-size: 15px;
                }
            }
        }
    }
}
