@media screen and (max-width: 768px) {
    .secret-block {
        flex-direction: column;
        width: 194px;

        .img-side {
            width: 100%;
            height: 84px;
            border-radius: 20px 20px 0 0;
            background-image: url(assets/img/mobile-img.png);
            background-position: top;
            background-repeat: no-repeat;
            background-size: cover ;
            
        }
    
        .text-side {
            height: 110px;
            padding: 21px 6px 21px 17px;
            font-size: 14px;
        }
        &:not(:last-child) {
            margin-right: 25px;
        }
        
    }
    .slick-list {
        max-width: 620px;
        margin: auto;
        width: 100%;
    }


    .for-whom_course {
        &-banner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: rgba(30, 29, 32, 1);
            padding: 0;
            &::before {
                content: none;
                
            }
            .banner-content {
                padding: 36px 44px;
                text-align: center;
                h2 {
                    font-size: 24px;
                }
            }
            .banner-img {
                img {
                    width: 100%;
                }
            } 
        }
    }

    .teacher-course {
        .single-teacher {
            .teacher-img {
                min-width: 245px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
             
            .teacher-info {
                padding: 40px 36px 36px;
                h2 {
                    font-size: 24px;
                }
                h5 {
                    font-size: 14px;
                    margin-bottom: 20px;
                }
                p {
                    font-size: 14px;
                }
            }
        }
    }

    
}