@media screen and (max-width: 1024px) {
    //tamplate//

    .small-container {
        width: 432px;
    }

    .btn {
    
        &.btn-primary {
            padding: 14px 83px;
        }
    }

    //header//

    header {
        .header-container {
            padding: 0 45px;
            .header-nav {
                gap: 50px;
                a {
                    font-size: 15px;
                    line-height: 20px;
                   
                }
            }
        }
    }

    //first-screen//

    .first-screen {
        &-info {
            .small-container {
                padding: 77px 51px 38px 51px;
            }
            
            h1 {
                font-size: 34px;
                line-height: 41px;
            }
            p {
                margin-bottom: 36px;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
            }
            h6 {
                display: none;
            }
        }
    
        &-img {
            
            &_name {
                padding: 27px 20px 20px 37px;
                h5 {
                    font-size: 18px;
                    line-height: 22px;
                }
                p {
                    font-size: 14px;
                    line-height: 17px;
                }
            }
        }
    }

    //insta-busines//
    .insta-busines {
        .left-block, 
        .right-block {
            width: 50%;
        }
        .small-container {
            padding: 25px 10px 25px 30px;
            
            h2 {
                font-size: 28px;
            }
           
            ul {
                margin-left: 30px;
                li {
                    margin-bottom: 20px;
                }
            }
        }
    }

    .countdown-block {
        .left-block {
            ul#countdown {
                li {
                    font-size: 23px;
                    .label {
                        font-size: 16px;
                    }
                }
                .number {
                    padding: 27px;
                }
            }
        }

        .right-block {
            flex-direction: column;
            .course-price {
                margin-bottom: 21px;
                text-align: center;
                .price {
                    display: flex;
                    align-items: center;
                    h5 {
                        margin-right: 20px;
                    }
                }
            }
        }
    }

    .for-whom_course {
        &-banner {
            min-width: 460px;
            max-height: 470px;
        }
    }

    .taryf {
        h2 {
            font-size: 32px;
        }
        &-block {
            .taryf-card {
                padding: 40px 30px 27px;
                .price {
                    font-size: 28px;
                    .price-title {
                        img {
                            margin-bottom: 25px;
                        }
                    }
                    h4 {
                        font-size: 28px;
                        margin-bottom: 25px;
                    }
                }
                ul {
                    li {
                        margin-bottom: 25px;
                    }
                }
            }
        }
    }
}


