.countdown-block {
    .left-block {
        background: #1E1D20;
        justify-content: center;
        flex-direction: column;
        padding: 30px 0;
        h6 {
            color: #FFF;
            font-size: 18px;
            font-weight: 400;
            text-transform: uppercase;
            margin-bottom: 15px;
            text-align: center;
        }
        ul#countdown {
            display: flex;
            margin: 0 auto;
            padding: 15px 0 20px 0;
            color: #ffffff;
            overflow: hidden;
            font-weight: 400;
            list-style: none;
            
            li {
                margin: 0 10px 0 0;
                padding: 0;
                font-size: 36px;
                text-align: center;
                
                .label {
                    color: #adafb2;
                    font-size: 18px;
                    text-transform: uppercase;
                }
            }
            .number {
                margin-bottom: 5px;
                padding: 25px;
                border-radius: 80px;
                background: rgba(54, 53, 60, 0.50);
            }
        }
    }

    .right-block {
        padding: 35px 27px 60px 60px;
        box-shadow: 20px 0 20px 0 rgba(0, 0, 0, 0.1);
        align-items: center;
        justify-content: space-between;
        .course-price {
            color: #36353C;
            h6 {
                margin-bottom: 20px;
                font-size: 18px;
                font-weight: 400;
                text-transform: uppercase;
            }
            h5 {
                font-size: 30px;
                font-weight: 600;
            }
            p {
                color: #36353c80;
                font-size: 20px;
                font-weight: 400;
                text-decoration-line: line-through;
            }

        }
    }
      
}