.secrets-mini-block {
    // padding: 17px 0;
    margin: 21px 0 60px 0;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
}

.secret-block {
    display: flex !important;
    background: #FFFFFF;
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 290px;
    overflow: hidden;
    cursor: pointer;


    .img-side {
        min-width: 84px;
        border-radius: 20px 0 0 20px;
        background-image: url(assets/img/mobile-img.png);
        background-position: top;
        background-repeat: no-repeat;
        background-size: auto 100% ;
        
    }

    .text-side {
        display: flex;
        align-items: center;
        padding: 10px 18px;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #63656B;
        opacity: 1;
        height: 160px;
    }

    
}



.secret-block:not(:last-child) {
    margin-right: 13px;
}

.slick-slide {
    margin: 17px 13px;

}

.slick-list {
    margin: 0 -13px;
}