.teacher-course {
    margin-bottom: 40px;
    .single-teacher {
        display: flex;
        border-radius: 0 80px 0 80px;
        box-shadow: 25px -10px 0px -11px hsla(113, 72%, 55%, 0.5),0px 14px 9px -10px rgba(0,0,0,0.1),0px -6px 13px -3px rgba(0,0,0,0.1);
         
        .teacher-info {
            color: #36353C;
            padding: 100px 50px 60px 60px ;
            h2 {
                font-size: 28px;
                font-weight: 600;
                margin-bottom: 10px;
            }
            h5 {
                font-size: 16px;
                font-weight: 400;
                text-transform: uppercase;
                margin-bottom: 30px;
            }
            p {
                color: #373F41;
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;
            }
        }
        .teacher-img {
            min-width: 440px;
            overflow: hidden;
            border-top-right-radius: 80px;
            border-bottom-left-radius: 80px;
            img {
                width: 100%;
                transform: scale(1.1);
            }
        }
    }
}