<div class="contacts container">
    <div class="contacts-card">
        <h3>контакти</h3>
        <a href="#"><img src="assets/img/instagram-icon.svg" alt="instagram-icon"><span>instagram.com</span></a>
        <a href="tel:098-00-00-00"><img src="assets/img/phone-icon.svg" alt="phone-icon"><span> +38 (098) 000-00-00</span></a>
        <a href="#"><img src="assets/img/telegram-icon.svg" alt="telegram-icon"><span>telegram</span></a>
    </div>
    <div class="connect-card">
        <h3>Зв'язатися з нами</h3>
        <form action="connect-with_us">
            <div class="form-input">
                <label for="name">ім'я</label>
                <input type="text" id="name" name="name" >
            </div>
            <div class="form-input">
                <label for="phone">телефон</label>
                <input type="phone" id="phone" name="phone" >
            </div>
            <div class="form-input">
                <label for="name"></label>
                <button class="btn btn-primary">кнопка</button>
            </div>
        </form>
    </div>

</div>