<div class="countdown-block column-block">
<div class="left-block countdown">
    <h6>Ціна дійсна ще:</h6>
    <ul id="countdown" data-target="2024/12/25 00:00:00">
        <li id="days">
            <div class="number">00</div>
            <div class="label">Дні</div>
        </li>
        <li id="hours">
            <div class="number">00</div>
            <div class="label">Години</div>
        </li>
        <li id="minutes">
            <div class="number">00</div>
            <div class="label">Хвилини</div>
        </li>
        <li id="seconds">
            <div class="number">00</div>
            <div class="label">Секунди</div>
        </li>
    </ul>
</div>
<div class="right-block ">
    <div class="course-price">
        <h6>Поточна ціна:</h6>
        <div class="price">
            <h5>$ 25 000</h5>
            <p>$ 50 000</p>
        </div>
    </div>
    <div>
        <button class="btn btn-primary">кнопка</button>
    </div>
</div>
</div>