<div class=" container column-block">
    <div class="course-info">
        <div class="course-info_circle">
            <h5>Онлайн</h5>
            <h6>формат</h6>
        </div>
        <div class="course-info_circle">
            <h5>2 години</h5>
            <h6>тривалість</h6>
        </div>
        <div class="course-info_circle">
            <h5>23.09.2023</h5>
            <h6>старт</h6>
        </div>
        <div class="course-info_square">
            <h6>залишилось місць</h6>
            <span>11</span>
        </div>

    </div>
</div>
