<section class="faq">
    <div class="container">
        <h2 class="title">
            найчастіші питання
        </h2>
        <div class="acordion">
            <div class="acordion-item">
                <div class="acordion-title">
                    <button class="first_accord-btn"></button>
                    <h5>Скільки часу потрібно для проходження курсу?</h5>
                    <button class="accord-btn"></button>
                </div>
                <div class="acordion-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque officiis vel voluptatibus cum voluptates unde quibusdam animi in laudantium alias.</div>
            </div>
            <div class="acordion-item">
                <div class="acordion-title">
                    <button class="first_accord-btn"></button>
                    <h5>Чи є домашні завдання?</h5>
                    <button class="accord-btn"></button>
                </div>
                <div class="acordion-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque officiis vel voluptatibus cum voluptates unde quibusdam animi in laudantium alias.</div>
            </div>
            <div class="acordion-item">
                <div class="acordion-title">
                    <button class="first_accord-btn"></button>
                    <h5>Чи є підтримка куратора?</h5>
                    <button class="accord-btn"></button>
                </div>
                <div class="acordion-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque officiis vel voluptatibus cum voluptates unde quibusdam animi in laudantium alias.</div>
            </div>
            <div class="acordion-item">
                <div class="acordion-title">
                    <button class="first_accord-btn"></button>
                    <h5>Чи надається сертифікат після проходження курсу?</h5>
                    <button class="accord-btn"></button>
                </div>
                <div class="acordion-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque officiis vel voluptatibus cum voluptates unde quibusdam animi in laudantium alias.</div>
            </div>
            <div class="acordion-item">
                <div class="acordion-title">
                    <button class="first_accord-btn"></button>
                    <h5>Чи можу я отримати відстрочку у курсі?</h5>
                    <button class="accord-btn"></button>
                </div>
                <div class="acordion-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque officiis vel voluptatibus cum voluptates unde quibusdam animi in laudantium alias.</div>
            </div>
            <div class="acordion-item">
                <div class="acordion-title">
                    <button class="first_accord-btn"></button>
                    <h5>Де подивитись зміст курсу?</h5>
                    <button class="accord-btn"></button>
                </div>
                <div class="acordion-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque officiis vel voluptatibus cum voluptates unde quibusdam animi in laudantium alias.</div>
            </div>

        </div>
    </div>
</section>