<section class="first-screen column-block">
    <div class="left-block first-screen-info ">
        <div class="small-container">
            <h1>як запустити бізнес на пабликах в Інстаграм!</h1>
            <p>Авторський курс від Андрія Іліноїс, власника однієї з найбільших сіток пабліків в Інстаграмі загальною аудиторією понад 17 000 000 осіб!</p>
            <button class="btn btn-primary">кнопка</button>
            <h6>21.08.2021</h6>
        </div>
    </div>
    <div class="right-block first-screen-img">
        <div class="first-screen-img_name">
            <h5>Артем Іванов</h5>
            <p>організатор курса та регалії</p>
        </div>
    </div>

</section>