<section class="first-screen column-block">
    <div class="left-block first-screen-info ">
        <div class="small-container">
            <h1>как запустить бизнес на пабликах в Инстаграмм!</h1>
            <p>Авторский курс от Андрея Илиноис, владельца одной из самых крупных сеток пабликов в Инстаграмм общей аудиторией более 17 000 000 человек!</p>
            <button class="btn btn-primary">кнопка</button>
            <h6>21.08.2021</h6>
        </div>
    </div>
    <div class="right-block first-screen-img">
        <div class="first-screen-img_name">
            <h5>Артем Иванов</h5>
            <p>организатор курса или регалии</p>
        </div>
    </div>

</section>