<footer>
	<div class="header-container">
        <div class="header-logo">
            <a href="index.html"><img src="assets/img/logo.png" alt=""></a>
        </div>
        <button class="toggler"><span class="slash"></span></button>
        <div class="header-nav">
            <a href="#">контакти</a>
            <a href="#">інтерв'ю</a>
            <a href="#">відгуки</a>
            <a href="#">поширені запитання</a>
        </div>
    </div>
</footer>
<script src="assets/js/jquery-3.7.0.js"></script>
<script src="assets/js/slick.js"></script>
<script src="assets/js/jquery.mask.min.js"></script>
<script async src="assets/js/custom.js"></script>
</body>
</html>