<section class="for-whom_course column-block">
    <div class="for-whom_course-info">
        <h5>для кого цей курс</h5>
        <ul>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero eos dolor corrupti voluptates provident amet magni veritatis iusto atque fugiat?</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus tempore delemporibus, eaque nisi voluptatum unde rem, veritatis, quos ut aperiam nemo? Adipisci sed qui aperiam.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit earum id, quos tenetur exercitationem officiis nostrum optio, corporis delectus facere fuga nisi aspernatur esse pariatur amet. Expedita suscipit nostrum, quidem eum ad, neque,</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero eos dolor corrupti voluptates provident amet magni veritatis iusto atque fugiat?</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero eos dolor corrupti voluptates provident amet magni veritatis iusto atque fugiat?</li>
        </ul>
    </div>
    <div class="for-whom_course-banner">
        <div class="banner-content">
            <h2>Як з нуля запустити бізнес на пабліках в Instagram</h2>
            <button class="btn btn-primary">кнопка</button>
        </div>
        <div class="banner-img">
            <img src="assets/img/insta-bg-img-mob.png" alt="insta-icon">
        </div>

    </div>

</section>