<header>
    <div class="header-container">
        <div class="header-logo">
            <a href="index.html"><img src="assets/img/logo.png" alt=""></a>
        </div>
        <button class="toggler"><span class="slash"></span></button>
        <div class="header-nav">
            <a href="#">контакти</a>
            <a href="#">інтерв'ю</a>
            <a href="#">відгуки</a>
            <a href="#">поширені запитання</a>
        </div>
    </div>

    <div class="header-mobile_modal">
        <div class="modal-body">
            <div class="header-nav">
                <a href="#">контакти</a>
                <a href="#">інтерв'ю</a>
                <a href="#">відгуки</a>
                <a href="#">поширені запитання</a>
            </div>
            <div class="modal-close">
                закрити
            </div>
        </div>
            
        
    </div>
   
</header>

