<section class="insta-busines column-block">
    <div class="left-block insta-busines_img">
        
    </div>
    <div class="right-block insta-busines_info">
        <div class="small-container">
            <div class="title">
                <h2>Як запустити бізнес на пабликах в Інстаграм!</h2>
                <div class="title-img">
                    <p>залишилось місць <span>11</span></p>
                </div>
            </div>
            <div class="insta-body">
                <h6>Що тебе чекає:</h6>
                <ul>
                    <li>Amet rhoncus vestibulum id faucibus id. Egestas lorem ut velit commodo massa suspendisse tellus gravida. </li>
                    <li>Amet rhoncus vestibulum id faucibus id. Egestas lorem ut velit commodo massa suspendisse tellus gravida. </li>
                    <li>Amet rhoncus vestibulum id faucibus id. Egestas lorem ut velit commodo massa suspendisse tellus gravida. </li>
                    <li>Amet rhoncus vestibulum id faucibus id. Egestas lorem ut velit commodo massa suspendisse tellus gravida. </li>
                    <li>Amet rhoncus vestibulum id faucibus id. Egestas lorem ut velit commodo massa suspendisse tellus gravida. Amet rhoncus vestibulum id</li>
                </ul>
            </div>
        </div>
    </div>
</section>