<div class="other_tariff container-big">
    <div class="other_tariff-card">
        <div class="card-title">
            <h4>Просування сайту в Google id faucibus id. Egestas</h4>
        </div>
        <div class="card-body">
            <h6>Що на тебе чекає:</h6>
            <ul>
                <li>Amet rhoncus vestibulum id faucibus id. Egestas lorem ut velit commodo massa suspendisse tellus gravida. </li>
                <li>Amet rhoncus vestibulum id faucibus id. Egestas lorem ut velit commodo massa suspendisse tellus gravida. </li>
                <li>Amet rhoncus vestibulum id faucibus id. Egestas lorem ut velit commodo massa suspendisse tellus gravida. </li>
            </ul>
            <h6>Що на тебе чекає:</h6>
            <ul>
                <li>Amet rhoncus vestibulum id faucibus id. Egestas lorem ut velit commodo massa suspendisse tellus gravida. </li>
                <li>Amet rhoncus vestibulum id faucibus id. Egestas lorem ut velit commodo massa suspendisse tellus gravida. </li>
                <li>Amet rhoncus vestibulum id faucibus id. Egestas lorem ut velit commodo massa suspendisse tellus gravida. </li>
            </ul>
        </div>
        <div class="card-footer">
            <h5>$ 25 000</h5>
            <button class="btn btn-primary">кнопка</button>
        </div>

    </div>
    <div class="other_tariff-card">
        <div class="card-title">
            <h4>Просування сайту в Google id faucibus id. Egestas</h4>
        </div>
        <div class="card-body">
            <h6>Що на тебе чекає:</h6>
            <ul>
                <li>Amet rhoncus vestibulum id faucibus id. Egestas lorem ut velit commodo massa suspendisse tellus gravida. </li>
                <li>Amet rhoncus vestibulum id faucibus id. Egestas lorem ut velit commodo massa suspendisse tellus gravida. </li>
                <li>Amet rhoncus vestibulum id faucibus id. Egestas lorem ut velit commodo massa suspendisse tellus gravida. </li>
            </ul>
            <h6>Що на тебе чекає:</h6>
            <ul>
                <li>Amet rhoncus vestibulum id faucibus id. Egestas lorem ut velit commodo massa suspendisse tellus gravida. </li>
                <li>Amet rhoncus vestibulum id faucibus id. Egestas lorem ut velit commodo massa suspendisse tellus gravida. </li>
                <li>Amet rhoncus vestibulum id faucibus id. Egestas lorem ut velit commodo massa suspendisse tellus gravida. </li>
            </ul>
        </div>
        <div class="card-footer">
            <h5>$ 25 000</h5>
            <button class="btn btn-primary">кнопка</button>
        </div>

    </div>
    
</div>