<div class="secrets-mini-block">
    <div class="container column-block slider-secret-block">
        <div class="secret-block">
            <div class="img-side">
            </div>
            <div class="text-side">
                <p>
                    Все секреты от владельца сети пабликов в Instagram с общей аудиторией 
                </p>
            </div>
        </div>
        <div class="secret-block">
            <div class="img-side">
            </div>
            <div class="text-side">
                <p>
                    Все секреты от владельца сети пабликов в Instagram с общей аудиторией 
                </p>
            </div>
        </div>
        <div class="secret-block">
            <div class="img-side">
            </div>
            <div class="text-side">
                <p>
                    Все секреты от владельца сети пабликов в Instagram с общей аудиторией 
                </p>
            </div>
        </div>
        <div class="secret-block">
            <div class="img-side">
            </div>
            <div class="text-side">
                <p>
                    Все секреты от владельца сети пабликов в Instagram с общей аудиторией 
                </p>
            </div>
        </div>
        <div class="secret-block">
            <div class="img-side">
            </div>
            <div class="text-side">
                <p>
                    Все секреты от владельца сети пабликов в Instagram с общей аудиторией 
                </p>
            </div>
        </div>
    
    </div>

</div>