<section class="taryf container-big">
    <h2>Назва третього курсу "з нуля запустити бізнес"</h2>
    <div class="taryf-block">
        <div class="taryf-card basic">
            <div class="price">
                <img src="assets/img/taryf-circle.svg" alt="taryf-circle">
                <h5>$ 5 000</h5>
            </div>
            <h4>Basic</h4>
            <ul>
                <li>Amet rhoncus vestibulum id faucibus id. Egestas commodo masa su</li>
                <li>Amet rhoncus vestibulum id faucibus id. Egestas lorem ut vo masa su</li>
                <li>Amet rhoncus vstibulum id faucibus id. Egestas lorem ut velit c</li>
                <li>Amet rhoncus vestmodo masa su</li>
                <li>Amet rhoncus vestibulum id faucibus id. Egestas lorem umodo masa su</li>
            </ul>
            <button class="btn btn-primary">кнопка</button>

        </div>
        <div class="taryf-card classic">
            <div class="price">
                <img src="assets/img/taryf-circle2.svg" alt="taryf-circle">
                <h5>$ 10 000</h5>
            </div>
            <h4>classic</h4>
            <ul>
                <li>Amet rhoncus vestibulum id faucibus id. Egestas commodo masa su</li>
                <li>Amet rhoncus vestibulum id faucibus id. Egestas lorem ut vo masa su</li>
                <li>Amet rhoncus vstibulum id faucibus id. Egestas lorem ut velit c</li>
                <li>Amet rhoncus vestmodo masa su</li>
                <li>Amet rhoncus vestibulum id faucibus id. Egestas lorem umodo masa su</li>
            </ul>
            <button class="btn btn-primary">кнопка</button>

        </div>
        <div class="taryf-card pro">
            <div class="price">
                <img src="assets/img/taryf-circle3.svg" alt="taryf-circle">
                <h5>$ 20 000</h5>
            </div>
            <h4>pro</h4>
            <ul>
                <li>Amet rhoncus vestibulum id faucibus id. Egestas commodo masa su</li>
                <li>Amet rhoncus vestibulum id faucibus id. Egestas lorem ut vo masa su</li>
                <li>Amet rhoncus vstibulum id faucibus id. Egestas lorem ut velit c</li>
                <li>Amet rhoncus vestmodo masa su</li>
                <li>Amet rhoncus vestibulum id faucibus id. Egestas lorem umodo masa su</li>
            </ul>
            <button class="btn btn-primary">кнопка</button>

        </div>

    </div>

</section>