<div class="teacher-course container">
    <div class="single-teacher">
        <div class="teacher-img"><img src="assets/img/speecker-img.png" alt="teacher"></div>
        <div class="teacher-info">
            <h2>Артем Іванов</h2>
            <h5>куратор курса</h5>
            <p>Amet rhoncus vestibulum id faucibus id. Egestas lorem ut velit commodo massa suspendisse tellus gravida. Senectus sollicitudin suspendisse id posuere sed ut purus. Sed tristique quis potenti lorem aliquam, mi neque justo massa. Platea placerat metus mattis vel sapien. Dignissim eget congue urna eu nulla eget et. Viverra odio nunc arcu mi convallis volutpat sapien in. Pharetra, vehicula adipiscing pellentesque sed sodales. Aliquet id diam imperdiet purus mauris, id libero.</p>
        </div>

    </div>

</div>